<h1>Known class schedules</h1>
<p>
	This will continue to be built as people search for classes in new subject codes, terms, or campuses.
</p>

<table class="table table-condensed table-hover table-bordered">
  <tr>
    <th>Campus</th>
    <th>Subject code</th>
    <th>Term</th>
    <th></th>
  </tr>

<% @classdetails.each do |vtclass| %>
  <tr>

    <td><%= vtclass.campus_name %></td>
    <td><%= vtclass.subject_code_name %></td>
    <td><%= vtclass.term_name %></td>
    <td><%= link_to "", vt_class_details_show_path(id: vtclass), class: "glyphicon glyphicon-th" %></td>
  </tr>
  <% end %>
</table>